/* GENERAL */

* {
    box-sizing: border-box;
    outline: 0;
}


html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
section,
header,
footer {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

img {}


html {
    scroll-behavior: smooth;
}

/* HEADER */

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #19232D;
    height: 7vh;
    max-height: 107px;
}

.header-logo {
    height: 57%;
    max-height: 40px;
}

.header-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-left: 3rem;
    color: #C9A059
}

/* SECTION - INTRO */

.section-intro {
    height: 93vh;
    min-height: 973px;
    background-image: url('../img/enter-background2.jpg');
    background-attachment: fixed;
}

.section-intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.section-intro-card {
    background-color: rgba(255, 255, 255, .3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 55%;
    max-width: 586px; 
}

.section-intro-card-title {
    width: 100%;
    text-align: left;
    margin-left: 33px;
    text-transform: uppercase;
    color: #C9A059;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 2rem;
}

.section-intro-card-image {
    width: 89.76%;
    height: 69,81%;
    max-width: 526px;
    max-height: 754px;
}

.section-intro-card-text {
    margin-top: 28px;
    color: #C9A059;
    font-size: 20px;
    text-shadow: 0px 3px 6px #00000029;
    max-width: 270px;
    text-align: center;
}


/* SECTION - CAROUSEL */

.section-carousel {
    height: 100vh;
    min-height: 1080px;
    /* width: 100%; */
    width: 100vw !important;
    padding: 80px 0;
    background-color: #19232D;
    /* display: flex !important; */
    /* justify-content: center; */
    /* align-items: center; */
}

.section-carousel .slick-list {
    padding: 0 !important;
}

.section-carousel .carousel {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.carousel .slick-slide {
    margin: 0 10px;
}

.card {
    /* width: 20%; */
    /* height: 60%; */
    /* display: flex;  */
    /* flex-direction: column; */
    /* align-items: center; */
    background: rgba(255, 255, 255, 1);
    border-radius: 27px;
    position: relative;
    margin: 6rem 0;
}


.card-img {
    height: 80%;
    width: 80%;
    position: absolute;
    bottom: 40%;
}

.card-text {
    margin-top: 90%;
    font-size: 20px;
    color: black;
    text-align: left;
    padding: 3rem;
}


/* SECTION - CONTACT */

.section-contact {
    height: 63vh;
    min-height: 680,40px;
    background-color: #C9A059;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-contact-container {
    background-color: white;
    width: 55.76%;
    height: 123%;
    min-height: 781.75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-contact-title {
    text-transform: uppercase;
    font-size: 35px;
    color: #C9A059;
}

.section-contact-text {
    margin-top: 2.5rem;
    font-size: 1.25rem;
    width: 70.85%;
    height: 10%;
}

.section-contact-forms-1 {
    display: flex;
    margin-bottom: 2.5rem;
    margin-top: 3rem;
}

.section-contact-forms-1 input {
    width: 250px;
}

.section-contact-forms-1-name {
    margin-right: 30px;
}

.section-contact-forms-2-textarea {
    width: 538px;
    margin-bottom: 50px;
}

.section-contact-forms-3 {
    display: flex;
    align-items: flex-start;
    width: 538px;
}

.section-contact-button {
    background-color: #C9A059;
    border: 0;
    width: 250px;
    height: 48px;
    font-size: 18px;
    text-align: center;
}

/* FOOTER */

footer {
    height: 37vh;
    background-color: #19232D;
}

#subirTopo {
    text-decoration: none;
    background: rgba(30,156,161,.9);
    bottom: 30px;
    right: 30px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding: 15px;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    position: fixed;
    border: 0;
    font-family: sans-serif;
    opacity: .8;
    border-radius: 50%;
    }
    
    #subirTopo:hover {
    opacity:1;
    }

    #form-email-error, #form-name-error {
        display: none !important;
    }

@media (max-width: 1230px) {
    .carousel, .slick-slider {
        width: 70% !important;
    }

    .card {
        width: 70%;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }

    .card-text {
        font-size: 1rem;
    }
}

@media (min-width: 320px) and (max-width: 1024px) {
    html {
        font-size: 1rem;
    }

    img {
        max-width: 100%;
    }

    .section-intro-card {
        width: 100%;
    }

    .section-intro-card-image {
        max-width: 80%;
    }

    .section-intro-card-title,
    .section-intro-card-text {
        font-size: 1.5rem;
        width: 90%;
        max-width: 100%;
    }

    .section-contact,
    .section-contact-container,
    .section-contact-text,
    .section-contact-forms-1 input,
    .section-contact-forms-2-textarea,
    .section-contact-forms-3,
    .section-contact-button {
        max-width: 100%;
        width: 100%;
        height: 100%;
        padding: 1rem;
    }

    .section-carousel {
        padding: 20% 0;
    }

    .section-contact-forms-1 {
        flex-direction: column;
    }

    .section-contact-forms-1-email {
        margin-top: 2rem;
    }


}

@media (min-width: 800px) and (max-width: 900px) {
    
    .section-carousel {
        padding: 4rem 0;
    }


    .card-text {
        font-size: 1.8rem;
    }


}

@media (min-width: 560px) and (max-width: 799px) {
    .card-text {
        font-size: 1.5rem;
    }

}

@media (min-width: 430px) and (max-width: 559px) {
    .card-text {
        font-size: 1rem;
    }

    .section-carousel {
        padding: 40% 0;
    }
}

@media (min-width: 360px) and (max-width: 429px) {
    .card-text {
        font-size: 0.8rem;
    }

    .section-carousel {
        padding: 60% 0;
    }

}

@media (min-width: 320px) and (max-width: 359px) {
    .card-text {
        font-size: 0.65rem;
    }

    .section-carousel {
        padding: 70% 0;
    }
}